:host {
  display: inline-block;
  position: relative;
  width: auto;
  cursor: pointer;
}

:host([group-order="middle"][group-position="horizontal"]), 
:host([group-order="last"][group-position="horizontal"]) {
  margin-left: -1px;
}

:host([group-order="middle"][group-position="vertical"]), 
:host([group-order="last"][group-position="vertical"]) {
  margin-top: -1px;
}
