@media (prefers-color-scheme: dark) {
  :root,
  .plus-theme-dark {
    /* border */
    --color-border-primary: theme(colors.indigo.400);
    --color-border-focus: theme(colors.indigo.700);
    --color-border-disabled: theme(colors.gray.800);
    --color-border-error: theme(colors.red.400);
    --color-border-default: theme(colors.gray.600);

    /* text */
    --color-text-base: theme(colors.gray.950);
    --color-text-default: theme(colors.white);
    --color-text-primary: theme(colors.indigo.400);
    --color-text-placeholder: theme(colors.gray.500);
    --color-text-link: theme(colors.blue.400);
    --color-text-caption: theme(colors.gray.400);
    --color-text-visited: theme(colors.purple.400);
    --color-text-disabled: theme(colors.gray.600);
    --color-text-error: theme(colors.red.400);
    --color-text-success: theme(colors.green.400);
    --color-text-warning: theme(colors.yellow.400);
    --color-text-information: theme(colors.blue.400);

    /* text invert */
    --color-text-invert-base: theme(colors.white);
    --color-text-invert-default: theme(colors.gray.950);
    --color-text-invert-primary: theme(colors.indigo.900);
    --color-text-invert-placeholder: theme(colors.gray.500);
    --color-text-invert-link: theme(colors.blue.900);
    --color-text-invert-caption: theme(colors.gray.900);
    --color-text-invert-visited: theme(colors.purple.900);
    /* --color-text-invert-disabled => same as --color-text-disabled */
    /* --color-text-invert-disabled: var(--color-text-disabled); */
    --color-text-invert-error: theme(colors.red.900);
    --color-text-invert-success: theme(colors.green.900);
    --color-text-invert-warning: theme(colors.yellow.900);
    --color-text-invert-information: theme(colors.blue.900);

    /* background */
    --color-background-default-default: theme(colors.gray.900);
    --color-background-default-hover: theme(colors.gray.800);
    --color-background-default-pressed: theme(colors.gray.700);
    --color-background-default-focus: theme(colors.gray.900);
    --color-background-default-invert-default: theme(colors.gray.400);
    --color-background-default-invert-hover: theme(colors.gray.300);
    --color-background-default-invert-pressed: theme(colors.gray.200);
    --color-background-default-invert-focus: theme(colors.gray.400);
    --color-background-disabled: theme(colors.gray.800);
    --color-background-primary-default: theme(colors.indigo.400);
    --color-background-primary-hover: theme(colors.indigo.300);
    --color-background-primary-pressed: theme(colors.indigo.200);
    --color-background-primary-focus: theme(colors.indigo.400);
    --color-background-primary-invert-default: theme(colors.indigo.900);
    --color-background-primary-invert-hover: theme(colors.indigo.800);
    --color-background-primary-invert-pressed: theme(colors.indigo.700);
    --color-background-primary-invert-focus: theme(colors.indigo.900);
    --color-background-base-default: theme(colors.gray.950);
    --color-background-base-hover: theme(colors.gray.900);
    --color-background-base-pressed: theme(colors.gray.800);
    --color-background-base-focus: theme(colors.gray.950);
    --color-background-success-default: theme(colors.green.400);
    --color-background-success-hover: theme(colors.green.300);
    --color-background-success-pressed: theme(colors.green.200);
    --color-background-success-focus: theme(colors.green.400);
    --color-background-success-invert-default: theme(colors.green.900);
    --color-background-success-invert-hover: theme(colors.green.800);
    --color-background-success-invert-pressed: theme(colors.green.700);
    --color-background-success-invert-focus: theme(colors.green.900);
    --color-background-warning-default: theme(colors.yellow.400);
    --color-background-warning-hover: theme(colors.yellow.300);
    --color-background-warning-pressed: theme(colors.yellow.200);
    --color-background-warning-focus: theme(colors.yellow.400);
    --color-background-warning-invert-default: theme(colors.yellow.900);
    --color-background-warning-invert-hover: theme(colors.yellow.800);
    --color-background-warning-invert-pressed: theme(colors.yellow.700);
    --color-background-warning-invert-focus: theme(colors.yellow.900);
    --color-background-error-default: theme(colors.red.400);
    --color-background-error-hover: theme(colors.red.300);
    --color-background-error-pressed: theme(colors.red.200);
    --color-background-error-focus: theme(colors.red.400);
    --color-background-error-invert-default: theme(colors.red.900);
    --color-background-error-invert-hover: theme(colors.red.800);
    --color-background-error-invert-pressed: theme(colors.red.700);
    --color-background-error-invert-focus: theme(colors.red.900);
    --color-background-information-default: theme(colors.blue.400);
    --color-background-information-hover: theme(colors.blue.300);
    --color-background-information-pressed: theme(colors.blue.200);
    --color-background-information-focus: theme(colors.blue.400);
    --color-background-information-invert-default: theme(colors.blue.900);
    --color-background-information-invert-hover: theme(colors.blue.800);
    --color-background-information-invert-pressed: theme(colors.blue.700);
    --color-background-information-invert-focus: theme(colors.blue.900);

    /* surface */
    --color-surface-base: theme(colors.black);
  }
}
