@media (prefers-color-scheme: dark) {
  :root,
  .plus-theme-dark {
    /* border */
    --color-border-primary: #6366F1;
    --color-border-focus: #5A67D8;
    --color-border-disabled: #2D3748;
    --color-border-error: #EF4444;
    --color-border-default: #4B5563;

    /* text */
    --color-text-base: #151721;
    --color-text-default: #FFFFFF;
    --color-text-primary: #6366F1;
    --color-text-placeholder: #6B7280;
    --color-text-link: #60A5FA;
    --color-text-caption: #8B8C8E;
    --color-text-visited: #8B5CF6;
    --color-text-disabled: #4B5563;
    --color-text-error: #EF4444;
    --color-text-success: #34D399;
    --color-text-warning: #F59E0B;
    --color-text-information: #3B82F6;

    /* text invert */
    --color-text-invert-base: #FFFFFF;
    --color-text-invert-default: #151721;
    --color-text-invert-primary: #1E293B;
    --color-text-invert-placeholder: #6B7280;
    --color-text-invert-link: #1E293B;
    --color-text-invert-caption: #1E293B;
    --color-text-invert-visited: #1E293B;
    /* --color-text-invert-disabled => same as --color-text-disabled */
    /* --color-text-invert-disabled: var(--color-text-disabled); */
    --color-text-invert-error: #1E293B;
    --color-text-invert-success: #1E293B;
    --color-text-invert-warning: #1E293B;
    --color-text-invert-information: #1E293B;

    /* background */
    --color-background-default-default: #151721;
    --color-background-default-hover: #1F2937;
    --color-background-default-pressed: #2D3748;
    --color-background-default-focus: #151721;
    --color-background-default-invert-default: #8B8C8E;
    --color-background-default-invert-hover: #99A2AD;
    --color-background-default-invert-pressed: #A6B2CF;
    --color-background-default-invert-focus: #8B8C8E;
    --color-background-disabled: #2D3748;
    --color-background-primary-default: #6366F1;
    --color-background-primary-hover: #6875F5;
    --color-background-primary-pressed: #7886E8;
    --color-background-primary-focus: #6366F1;
    --color-background-primary-invert-default: #1E293B;
    --color-background-primary-invert-hover: #283149;
    --color-background-primary-invert-pressed: #303952;
    --color-background-primary-invert-focus: #1E293B;
    --color-background-base-default: #FFFFFF;
    --color-background-base-hover: #151721;
    --color-background-base-pressed: #2D3748;
    --color-background-base-focus: #FFFFFF;
    --color-background-success-default: #34D399;
    --color-background-success-hover: #47DFA0;
    --color-background-success-pressed: #7BEAAF;
    --color-background-success-focus: #34D399;
    --color-background-success-invert-default: #1E293B;
    --color-background-success-invert-hover: #283149;
    --color-background-success-invert-pressed: #303952;
    --color-background-success-invert-focus: #1E293B;
    --color-background-warning-default: #F59E0B;
    --color-background-warning-hover: #F9C74F;
    --color-background-warning-pressed: #F9D66A;
    --color-background-warning-focus: #F59E0B;
    --color-background-warning-invert-default: #1E293B;
    --color-background-warning-invert-hover: #283149;
    --color-background-warning-invert-pressed: #303952;
    --color-background-warning-invert-focus: #1E293B;
    --color-background-error-default: #EF4444;
    --color-background-error-hover: #F87171;
    --color-background-error-pressed: #F48C8B;
    --color-background-error-focus: #EF4444;
    --color-background-error-invert-default: #1E293B;
    --color-background-error-invert-hover: #283149;
    --color-background-error-invert-pressed: #303952;
    --color-background-error-invert-focus: #1E293B;
    --color-background-information-default: #3B82F6;
    --color-background-information-hover: #6D9BF1;
    --color-background-information-pressed: #93C5FD;
    --color-background-information-focus: #3B82F6;
    --color-background-information-invert-default: #1E293B;
    --color-background-information-invert-hover: #283149;
    --color-background-information-invert-pressed: #303952;
    --color-background-information-invert-focus: #1E293B;

    /* surface */
    --color-surface-base: #000000;
  }
}
