@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import url("dark.css");
@import url("variables.css");

:root {
  /* border */
  --border-primary: theme(colors.blue.600); /* #2563eb */
  --border-focus: theme(colors.blue.300); /* #93c5fd */
  --border-disabled: theme(colors.gray.200); /* #e5e7eb */
  --border-error: theme(colors.red.600); /* #dc2626 */
  --border-default: theme(colors.gray.400); /* #9ca3af */

  /* text */
  --text-base: theme(colors.white); /* #ffffff */
  --text-default: theme(colors.gray.950); /* #111827 */
  --text-primary: theme(colors.blue.600); /* #2563eb */
  --text-placeholder: theme(colors.gray.500); /* #6b7280 */
  --text-link: theme(colors.blue.600); /* #2563eb */
  --text-caption: theme(colors.gray.600); /* #6b7280 */
  --text-visited: theme(colors.purple.600); /* #7c3aed */
  --text-disabled: theme(colors.gray.400); /* #9ca3af */
  --text-error: theme(colors.red.600); /* #dc2626 */
  --text-success: theme(colors.green.600); /* #10b981 */
  --text-warning: theme(colors.yellow.600); /* #f59e0b */
  --text-information: theme(colors.blue.600); /* #2563eb */

  /* text invert */
  --text-invert-base: theme(colors.gray.950); /* #111827 */
  --text-invert-default: theme(colors.gray.50); /* #ffffff */
  --text-invert-primary: theme(colors.blue.100); /* #bee3f8 */
  --text-invert-placeholder: theme(colors.gray.500); /* #6b7280 */
  --text-invert-link: theme(colors.blue.100); /* #bee3f8 */
  --text-invert-caption: theme(colors.gray.100); /* #f3f4f6 */
  --text-invert-visited: theme(colors.purple.100); /* #d6bcfa */
  /* --text-invert-disabled => same as --text-disabled */
  /* --text-invert-disabled: var(--text-disabled); */
  --text-invert-error: theme(colors.red.100); /* #fde8e8 */
  --text-invert-success: theme(colors.green.100); /* #d1fae5 */
  --text-invert-warning: theme(colors.yellow.100); /* #fff9c2 */
  --text-invert-information: theme(colors.blue.100); /* #bee3f8 */

  /* background */
  --background-default-default: theme(colors.gray.100); /* #f3f4f6 */
  --background-default-hover: theme(colors.gray.200); /* #e5e7eb */
  --background-default-pressed: theme(colors.gray.300); /* #d1d5db */
  --background-default-focus: theme(colors.gray.100); /* #f3f4f6 */
  --background-default-invert-default: theme(colors.gray.600); /* #6b7280 */
  --background-default-invert-hover: theme(colors.gray.700); /* #4b5563 */
  --background-default-invert-pressed: theme(colors.gray.800); /* #374151 */
  --background-default-invert-focus: theme(colors.gray.600); /* #6b7280 */
  --background-disabled: theme(colors.gray.200); /* #e5e7eb */
  --background-primary-default: theme(colors.blue.600); /* #2563eb */
  --background-primary-hover: theme(colors.blue.700); /* #1d4ed8 */
  --background-primary-pressed: theme(colors.blue.800); /* #1e40af */
  --background-primary-focus: theme(colors.blue.600); /* #2563eb */
  --background-primary-invert-default: theme(colors.blue.100); /* #bee3f8 */
  --background-primary-invert-hover: theme(colors.blue.200); /* #93c5fd */
  --background-primary-invert-pressed: theme(colors.blue.300); /* #60a5fa */
  --background-primary-invert-focus: theme(colors.blue.100); /* #bee3f8 */
  --background-base-default: theme(colors.white); /* #ffffff */
  --background-base-hover: theme(colors.gray.100); /* #f3f4f6 */
  --background-base-pressed: theme(colors.gray.200); /* #e5e7eb */
  --background-base-focus: theme(colors.white); /* #ffffff */
  --background-success-default: theme(colors.green.600); /* #10b981 */
  --background-success-hover: theme(colors.green.700); /* #059669 */
  --background-success-pressed: theme(colors.green.800); /* #047857 */
  --background-success-focus: theme(colors.green.600); /* #10b981 */
  --background-success-invert-default: theme(colors.green.100); /* #d1fae5 */
  --background-success-invert-hover: theme(colors.green.200); /* #a7f3d0 */
  --background-success-invert-pressed: theme(colors.green.300); /* #6ee7b7 */
  --background-success-invert-focus: theme(colors.green.100); /* #d1fae5 */
  --background-warning-default: theme(colors.yellow.600); /* #f59e0b */
  --background-warning-hover: theme(colors.yellow.700); /* #d97706 */
  --background-warning-pressed: theme(colors.yellow.800); /* #b45309 */
  --background-warning-focus: theme(colors.yellow.600); /* #f59e0b */
  --background-warning-invert-default: theme(colors.yellow.100); /* #fff9c2 */
  --background-warning-invert-hover: theme(colors.yellow.200); /* #fff382 */
  --background-warning-invert-pressed: theme(colors.yellow.300); /* #ffed4a */
  --background-warning-invert-focus: theme(colors.yellow.100); /* #fff9c2 */
  --background-error-default: theme(colors.red.600); /* #dc2626 */
  --background-error-hover: theme(colors.red.700); /* #b91c1c */
  --background-error-pressed: theme(colors.red.800); /* #991b1b */
  --background-error-focus: theme(colors.red.600); /* #dc2626 */
  --background-error-invert-default: theme(colors.red.100); /* #fde8e8 */
  --background-error-invert-hover: theme(colors.red.200); /* #fbd5d5 */
  --background-error-invert-pressed: theme(colors.red.300); /* #f8b4b4 */
  --background-error-invert-focus: theme(colors.red.100); /* #fde8e8 */
  --background-information-default: theme(colors.blue.600); /* #2563eb */
  --background-information-hover: theme(colors.blue.700); /* #1d4ed8 */
  --background-information-pressed: theme(colors.blue.800); /* #1e40af */
  --background-information-focus: theme(colors.blue.600); /* #2563eb */
  --background-information-invert-default: theme(colors.blue.100); /* #bee3f8 */
  --background-information-invert-hover: theme(colors.blue.200); /* #93c5fd */
  --background-information-invert-pressed: theme(colors.blue.300); /* #60a5fa */
  --background-information-invert-focus: theme(colors.blue.100); /* #bee3f8 */

  /* surface */
  --surface-base: theme(colors.white); /* #ffffff */
}
