:root,
.plus-theme-light {
  /* border */
  --color-border-primary: #4F46E5;
  --color-border-focus: #A5B4FC;
  --color-border-disabled: #D1D5DB;
  --color-border-error: #EF4444;
  --color-border-default: #8B8B8B;

  /* text */
  --color-text-base: #FFFFFF;
  --color-text-default: #1F2937;
  --color-text-primary: #4F46E5;
  --color-text-placeholder: #6B7280;
  --color-text-link: #3B82F6;
  --color-text-caption: #4B5563;
  --color-text-visited: #8B5CF6;
  --color-text-disabled: #D1D5DB;
  --color-text-error: #EF4444;
  --color-text-success: #10B981;
  --color-text-warning: #F59E0B;
  --color-text-information: #3B82F6;

  /* text invert */
  --color-text-invert-base: #1F2937;
  --color-text-invert-default: #FFFFFF;
  --color-text-invert-primary: #A5B4FC;
  --color-text-invert-placeholder: #6B7280;
  --color-text-invert-link: #A5B4FC;
  --color-text-invert-caption: #F3F4F6;
  --color-text-invert-visited: #A5B4FC;
  --color-text-invert-error: #EF4444;
  --color-text-invert-success: #10B981;
  --color-text-invert-warning: #F59E0B;
  --color-text-invert-information: #A5B4FC;

  /* background */
  --color-background-default-default: #F3F4F6;
  --color-background-default-hover: #E5E7EB;
  --color-background-default-pressed: #D1D5DB;
  --color-background-default-focus: #F3F4F6;
  --color-background-default-invert-default: #1F2937;
  --color-background-default-invert-hover: #1E293B;
  --color-background-default-invert-pressed: #1A202C;
  --color-background-default-invert-focus: #1F2937;
  --color-background-disabled: #E5E7EB;
  --color-background-primary-default: #4F46E5;
  --color-background-primary-hover: #6A63E8;
  --color-background-primary-pressed: #7E75E8;
  --color-background-primary-focus: #4F46E5;
  --color-background-primary-invert-default: #A5B4FC;
  --color-background-primary-invert-hover: #B8C2F8;
  --color-background-primary-invert-pressed: #C7D2FE;
  --color-background-primary-invert-focus: #A5B4FC;
  --color-background-base-default: #FFFFFF;
  --color-background-base-hover: #F3F4F6;
  --color-background-base-pressed: #E5E7EB;
  --color-background-base-focus: #FFFFFF;
  --color-background-success-default: #10B981;
  --color-background-success-hover: #22D3A5;
  --color-background-success-pressed: #4ADE80;
  --color-background-success-focus: #10B981;
  --color-background-success-invert-default: #6EE7B7;
  --color-background-success-invert-hover: #87F0A1;
  --color-background-success-invert-pressed: #A7F3D0;
  --color-background-success-invert-focus: #6EE7B7;
  --color-background-warning-default: #F59E0B;
  --color-background-warning-hover: #FBBF24;
  --color-background-warning-pressed: #FCD34D;
  --color-background-warning-focus: #F59E0B;
  --color-background-warning-invert-default: #FDE68A;
  --color-background-warning-invert-hover: #FDE68A;
  --color-background-warning-invert-pressed: #FDE68A;
  --color-background-warning-invert-focus: #FDE68A;
  --color-background-error-default: #EF4444;
  --color-background-error-hover: #F87171;
  --color-background-error-pressed: #F48C8B;
  --color-background-error-focus: #EF4444;
  --color-background-error-invert-default: #FECACA;
  --color-background-error-invert-hover: #FECACA;
  --color-background-error-invert-pressed: #FECACA;
  --color-background-error-invert-focus: #FECACA;
  --color-background-information-default: #3B82F6;
  --color-background-information-hover: #6D9BF1;
  --color-background-information-pressed: #93C5FD;
  --color-background-information-focus: #3B82F6;
  --color-background-information-invert-default: #A5B4FC;
  --color-background-information-invert-hover: #B8C2F8;
  --color-background-information-invert-pressed: #C7D2FE;
  --color-background-information-invert-focus: #A5B4FC;

  /* surface */
  --color-surface-base: #FFFFFF;
}
