:root,
.plus-theme-light {
  /* border */
  --plusui-color-border-base: theme(colors.white);
  --plusui-color-border-default: theme(colors.gray.400);
  --plusui-color-border-primary: theme(colors.indigo.600);
  --plusui-color-border-focus: theme(colors.indigo.300);
  --plusui-color-border-disabled: theme(colors.gray.300);
  --plusui-color-border-info: theme(colors.blue.600);
  --plusui-color-border-success: theme(colors.green.600);
  --plusui-color-border-warning: theme(colors.yellow.600);
  --plusui-color-border-error: theme(colors.red.600);

  /* text */
  --plusui-color-text-base: theme(colors.white);
  --plusui-color-text-default: theme(colors.gray.950);
  --plusui-color-text-primary: theme(colors.indigo.600);
  --plusui-color-text-placeholder: theme(colors.gray.500);
  --plusui-color-text-link: theme(colors.blue.600);
  --plusui-color-text-caption: theme(colors.gray.600);
  --plusui-color-text-visited: theme(colors.purple.600);
  --plusui-color-text-disabled: theme(colors.gray.400);
  --plusui-color-text-error: theme(colors.red.600);
  --plusui-color-text-success: theme(colors.green.600);
  --plusui-color-text-warning: theme(colors.yellow.600);
  --plusui-color-text-info: theme(colors.blue.600);

  /* text invert */
  --plusui-color-text-invert-base: theme(colors.gray.950);
  --plusui-color-text-invert-default: theme(colors.white);
  --plusui-color-text-invert-primary: theme(colors.blue.100);
  --plusui-color-text-invert-placeholder: theme(colors.gray.500);
  --plusui-color-text-invert-link: theme(colors.blue.100);
  --plusui-color-text-invert-caption: theme(colors.gray.100);
  --plusui-color-text-invert-visited: theme(colors.purple.100);
  /* --plusui-color-text-invert-disabled => same as --plusui-color-text-disabled */
  /* --plusui-color-text-invert-disabled: var(--plusui-color-text-disabled); */
  --plusui-color-text-invert-error: theme(colors.red.100);
  --plusui-color-text-invert-success: theme(colors.green.100);
  --plusui-color-text-invert-warning: theme(colors.yellow.100);
  --plusui-color-text-invert-info: theme(colors.blue.100);

  /* background */
  --plusui-color-background-default-default: theme(colors.gray.100);
  --plusui-color-background-default-hover: theme(colors.gray.200);
  --plusui-color-background-default-pressed: theme(colors.gray.300);
  --plusui-color-background-default-focus: theme(colors.gray.100);
  --plusui-color-background-default-invert-default: theme(colors.gray.600);
  --plusui-color-background-default-invert-hover: theme(colors.gray.700);
  --plusui-color-background-default-invert-pressed: theme(colors.gray.800);
  --plusui-color-background-default-invert-focus: theme(colors.gray.600);
  --plusui-color-background-disabled: theme(colors.gray.200);
  --plusui-color-background-primary-default: theme(colors.indigo.600);
  --plusui-color-background-primary-hover: theme(colors.indigo.700);
  --plusui-color-background-primary-pressed: theme(colors.indigo.800);
  --plusui-color-background-primary-focus: theme(colors.indigo.600);
  --plusui-color-background-primary-invert-default: theme(colors.indigo.100);
  --plusui-color-background-primary-invert-hover: theme(colors.indigo.200);
  --plusui-color-background-primary-invert-pressed: theme(colors.indigo.300);
  --plusui-color-background-primary-invert-focus: theme(colors.indigo.100);
  --plusui-color-background-base-default: theme(colors.white);
  --plusui-color-background-base-hover: theme(colors.gray.100);
  --plusui-color-background-base-pressed: theme(colors.gray.200);
  --plusui-color-background-base-focus: theme(colors.white);
  --plusui-color-background-success-default: theme(colors.green.600);
  --plusui-color-background-success-hover: theme(colors.green.700);
  --plusui-color-background-success-pressed: theme(colors.green.800);
  --plusui-color-background-success-focus: theme(colors.green.600);
  --plusui-color-background-success-invert-default: theme(colors.green.100);
  --plusui-color-background-success-invert-hover: theme(colors.green.200);
  --plusui-color-background-success-invert-pressed: theme(colors.green.300);
  --plusui-color-background-success-invert-focus: theme(colors.green.100);
  --plusui-color-background-warning-default: theme(colors.yellow.600);
  --plusui-color-background-warning-hover: theme(colors.yellow.700);
  --plusui-color-background-warning-pressed: theme(colors.yellow.800);
  --plusui-color-background-warning-focus: theme(colors.yellow.600);
  --plusui-color-background-warning-invert-default: theme(colors.yellow.100);
  --plusui-color-background-warning-invert-hover: theme(colors.yellow.200);
  --plusui-color-background-warning-invert-pressed: theme(colors.yellow.300);
  --plusui-color-background-warning-invert-focus: theme(colors.yellow.100);
  --plusui-color-background-error-default: theme(colors.red.600);
  --plusui-color-background-error-hover: theme(colors.red.700);
  --plusui-color-background-error-pressed: theme(colors.red.800);
  --plusui-color-background-error-focus: theme(colors.red.600);
  --plusui-color-background-error-invert-default: theme(colors.red.100);
  --plusui-color-background-error-invert-hover: theme(colors.red.200);
  --plusui-color-background-error-invert-pressed: theme(colors.red.300);
  --plusui-color-background-error-invert-focus: theme(colors.red.100);
  --plusui-color-background-info-default: theme(colors.blue.600);
  --plusui-color-background-info-hover: theme(colors.blue.700);
  --plusui-color-background-info-pressed: theme(colors.blue.800);
  --plusui-color-background-info-focus: theme(colors.blue.600);
  --plusui-color-background-info-invert-default: theme(colors.blue.100);
  --plusui-color-background-info-invert-hover: theme(colors.blue.200);
  --plusui-color-background-info-invert-pressed: theme(colors.blue.300);
  --plusui-color-background-info-invert-focus: theme(colors.blue.100);

  /* surface */
  --plusui-color-surface-base: theme(colors.white);
}
