/* Light Mode Themes */
[data-theme='slate'] {
    --plusui-color-background-default-default: theme(colors.slate.600);
    --plusui-color-background-default-hover: theme(colors.slate.700);
    --plusui-color-background-default-pressed: theme(colors.slate.800);
    --plusui-color-background-default-focus: theme(colors.slate.600);
    --plusui-color-background-default-invert-default: theme(colors.slate.100);
    --plusui-color-background-default-invert-hover: theme(colors.slate.200);
    --plusui-color-background-default-invert-pressed: theme(colors.slate.300);
    --plusui-color-background-default-invert-focus: theme(colors.slate.100);
  
    --plusui-color-text-default: theme(colors.white);
    --plusui-color-text-default-hover: theme(colors.slate.200);
    --plusui-color-text-default-pressed: theme(colors.slate.300);
  }
  
  [data-theme='gray'] {
    --plusui-color-background-default-default: theme(colors.gray.600);
    --plusui-color-background-default-hover: theme(colors.gray.700);
    --plusui-color-background-default-pressed: theme(colors.gray.800);
    --plusui-color-background-default-focus: theme(colors.gray.600);
    --plusui-color-background-default-invert-default: theme(colors.gray.100);
    --plusui-color-background-default-invert-hover: theme(colors.gray.200);
    --plusui-color-background-default-invert-pressed: theme(colors.gray.300);
    --plusui-color-background-default-invert-focus: theme(colors.gray.100);
  
    --plusui-color-text-default: theme(colors.white);
    --plusui-color-text-default-hover: theme(colors.gray.200);
    --plusui-color-text-default-pressed: theme(colors.gray.300);
  }
  
  [data-theme='zinc'] {
    --plusui-color-background-default-default: theme(colors.zinc.600);
    --plusui-color-background-default-hover: theme(colors.zinc.700);
    --plusui-color-background-default-pressed: theme(colors.zinc.800);
    --plusui-color-background-default-focus: theme(colors.zinc.600);
    --plusui-color-background-default-invert-default: theme(colors.zinc.100);
    --plusui-color-background-default-invert-hover: theme(colors.zinc.200);
    --plusui-color-background-default-invert-pressed: theme(colors.zinc.300);
    --plusui-color-background-default-invert-focus: theme(colors.zinc.100);
  
    --plusui-color-text-default: theme(colors.white);
    --plusui-color-text-default-hover: theme(colors.zinc.200);
    --plusui-color-text-default-pressed: theme(colors.zinc.300);
  }
  
  [data-theme='neutral'] {
    --plusui-color-background-default-default: theme(colors.neutral.600);
    --plusui-color-background-default-hover: theme(colors.neutral.700);
    --plusui-color-background-default-pressed: theme(colors.neutral.800);
    --plusui-color-background-default-focus: theme(colors.neutral.600);
    --plusui-color-background-default-invert-default: theme(colors.neutral.100);
    --plusui-color-background-default-invert-hover: theme(colors.neutral.200);
    --plusui-color-background-default-invert-pressed: theme(colors.neutral.300);
    --plusui-color-background-default-invert-focus: theme(colors.neutral.100);
  
    --plusui-color-text-default: theme(colors.white);
    --plusui-color-text-default-hover: theme(colors.neutral.200);
    --plusui-color-text-default-pressed: theme(colors.neutral.300);
  }
  
  [data-theme='stone'] {
    --plusui-color-background-default-default: theme(colors.stone.600);
    --plusui-color-background-default-hover: theme(colors.stone.700);
    --plusui-color-background-default-pressed: theme(colors.stone.800);
    --plusui-color-background-default-focus: theme(colors.stone.600);
    --plusui-color-background-default-invert-default: theme(colors.stone.100);
    --plusui-color-background-default-invert-hover: theme(colors.stone.200);
    --plusui-color-background-default-invert-pressed: theme(colors.stone.300);
    --plusui-color-background-default-invert-focus: theme(colors.stone.100);
  
    --plusui-color-text-default: theme(colors.white);
    --plusui-color-text-default-hover: theme(colors.stone.200);
    --plusui-color-text-default-pressed: theme(colors.stone.300);
  }
  
  [data-theme='red'] {
    --plusui-color-background-default-default: theme(colors.red.600);
    --plusui-color-background-default-hover: theme(colors.red.700);
    --plusui-color-background-default-pressed: theme(colors.red.800);
    --plusui-color-background-default-focus: theme(colors.red.600);
    --plusui-color-background-default-invert-default: theme(colors.red.100);
    --plusui-color-background-default-invert-hover: theme(colors.red.200);
    --plusui-color-background-default-invert-pressed: theme(colors.red.300);
    --plusui-color-background-default-invert-focus: theme(colors.red.100);
  
    --plusui-color-text-default: theme(colors.white);
    --plusui-color-text-default-hover: theme(colors.red.200);
    --plusui-color-text-default-pressed: theme(colors.red.300);
  }
  
  [data-theme='orange'] {
    --plusui-color-background-default-default: theme(colors.orange.600);
    --plusui-color-background-default-hover: theme(colors.orange.700);
    --plusui-color-background-default-pressed: theme(colors.orange.800);
    --plusui-color-background-default-focus: theme(colors.orange.600);
    --plusui-color-background-default-invert-default: theme(colors.orange.100);
    --plusui-color-background-default-invert-hover: theme(colors.orange.200);
    --plusui-color-background-default-invert-pressed: theme(colors.orange.300);
    --plusui-color-background-default-invert-focus: theme(colors.orange.100);
  
    --plusui-color-text-default: theme(colors.white);
    --plusui-color-text-default-hover: theme(colors.orange.200);
    --plusui-color-text-default-pressed: theme(colors.orange.300);
  }
  
  [data-theme='amber'] {
    --plusui-color-background-default-default: theme(colors.amber.600);
    --plusui-color-background-default-hover: theme(colors.amber.700);
    --plusui-color-background-default-pressed: theme(colors.amber.800);
    --plusui-color-background-default-focus: theme(colors.amber.600);
    --plusui-color-background-default-invert-default: theme(colors.amber.100);
    --plusui-color-background-default-invert-hover: theme(colors.amber.200);
    --plusui-color-background-default-invert-pressed: theme(colors.amber.300);
    --plusui-color-background-default-invert-focus: theme(colors.amber.100);
  
    --plusui-color-text-default: theme(colors.white);
    --plusui-color-text-default-hover: theme(colors.amber.200);
    --plusui-color-text-default-pressed: theme(colors.amber.300);
  }
  
  [data-theme='yellow'] {
    --plusui-color-background-default-default: theme(colors.yellow.600);
    --plusui-color-background-default-hover: theme(colors.yellow.700);
    --plusui-color-background-default-pressed: theme(colors.yellow.800);
    --plusui-color-background-default-focus: theme(colors.yellow.600);
    --plusui-color-background-default-invert-default: theme(colors.yellow.100);
    --plusui-color-background-default-invert-hover: theme(colors.yellow.200);
    --plusui-color-background-default-invert-pressed: theme(colors.yellow.300);
    --plusui-color-background-default-invert-focus: theme(colors.yellow.100);
  
    --plusui-color-text-default: theme(colors.white);
    --plusui-color-text-default-hover: theme(colors.yellow.200);
    --plusui-color-text-default-pressed: theme(colors.yellow.300);
  }
  
  [data-theme='lime'] {
    --plusui-color-background-default-default: theme(colors.lime.600);
    --plusui-color-background-default-hover: theme(colors.lime.700);
    --plusui-color-background-default-pressed: theme(colors.lime.800);
    --plusui-color-background-default-focus: theme(colors.lime.600);
    --plusui-color-background-default-invert-default: theme(colors.lime.100);
    --plusui-color-background-default-invert-hover: theme(colors.lime.200);
    --plusui-color-background-default-invert-pressed: theme(colors.lime.300);
    --plusui-color-background-default-invert-focus: theme(colors.lime.100);
  
    --plusui-color-text-default: theme(colors.white);
    --plusui-color-text-default-hover: theme(colors.lime.200);
    --plusui-color-text-default-pressed: theme(colors.lime.300);
  }
  
  [data-theme='green'] {
    --plusui-color-background-default-default: theme(colors.green.600);
    --plusui-color-background-default-hover: theme(colors.green.700);
    --plusui-color-background-default-pressed: theme(colors.green.800);
    --plusui-color-background-default-focus: theme(colors.green.600);
    --plusui-color-background-default-invert-default: theme(colors.green.100);
    --plusui-color-background-default-invert-hover: theme(colors.green.200);
    --plusui-color-background-default-invert-pressed: theme(colors.green.300);
    --plusui-color-background-default-invert-focus: theme(colors.green.100);
  
    --plusui-color-text-default: theme(colors.white);
    --plusui-color-text-default-hover: theme(colors.green.200);
    --plusui-color-text-default-pressed: theme(colors.green.300);
  }
  
  [data-theme='emerald'] {
    --plusui-color-background-default-default: theme(colors.emerald.600);
    --plusui-color-background-default-hover: theme(colors.emerald.700);
    --plusui-color-background-default-pressed: theme(colors.emerald.800);
    --plusui-color-background-default-focus: theme(colors.emerald.600);
    --plusui-color-background-default-invert-default: theme(colors.emerald.100);
    --plusui-color-background-default-invert-hover: theme(colors.emerald.200);
    --plusui-color-background-default-invert-pressed: theme(colors.emerald.300);
    --plusui-color-background-default-invert-focus: theme(colors.emerald.100);
  
    --plusui-color-text-default: theme(colors.white);
    --plusui-color-text-default-hover: theme(colors.emerald.200);
    --plusui-color-text-default-pressed: theme(colors.emerald.300);
  }
  
  [data-theme='teal'] {
    --plusui-color-background-default-default: theme(colors.teal.600);
    --plusui-color-background-default-hover: theme(colors.teal.700);
    --plusui-color-background-default-pressed: theme(colors.teal.800);
    --plusui-color-background-default-focus: theme(colors.teal.600);
    --plusui-color-background-default-invert-default: theme(colors.teal.100);
    --plusui-color-background-default-invert-hover: theme(colors.teal.200);
    --plusui-color-background-default-invert-pressed: theme(colors.teal.300);
    --plusui-color-background-default-invert-focus: theme(colors.teal.100);
  
    --plusui-color-text-default: theme(colors.white);
    --plusui-color-text-default-hover: theme(colors.teal.200);
    --plusui-color-text-default-pressed: theme(colors.teal.300);
  }
  
  [data-theme='cyan'] {
    --plusui-color-background-default-default: theme(colors.cyan.600);
    --plusui-color-background-default-hover: theme(colors.cyan.700);
    --plusui-color-background-default-pressed: theme(colors.cyan.800);
    --plusui-color-background-default-focus: theme(colors.cyan.600);
    --plusui-color-background-default-invert-default: theme(colors.cyan.100);
    --plusui-color-background-default-invert-hover: theme(colors.cyan.200);
    --plusui-color-background-default-invert-pressed: theme(colors.cyan.300);
    --plusui-color-background-default-invert-focus: theme(colors.cyan.100);
  
    --plusui-color-text-default: theme(colors.white);
    --plusui-color-text-default-hover: theme(colors.cyan.200);
    --plusui-color-text-default-pressed: theme(colors.cyan.300);
  }
  
  [data-theme='sky'] {
    --plusui-color-background-default-default: theme(colors.sky.600);
    --plusui-color-background-default-hover: theme(colors.sky.700);
    --plusui-color-background-default-pressed: theme(colors.sky.800);
    --plusui-color-background-default-focus: theme(colors.sky.600);
    --plusui-color-background-default-invert-default: theme(colors.sky.100);
    --plusui-color-background-default-invert-hover: theme(colors.sky.200);
    --plusui-color-background-default-invert-pressed: theme(colors.sky.300);
    --plusui-color-background-default-invert-focus: theme(colors.sky.100);
  
    --plusui-color-text-default: theme(colors.white);
    --plusui-color-text-default-hover: theme(colors.sky.200);
    --plusui-color-text-default-pressed: theme(colors.sky.300);
  }
  
  [data-theme='blue'] {
    --plusui-color-background-default-default: theme(colors.blue.600);
    --plusui-color-background-default-hover: theme(colors.blue.700);
    --plusui-color-background-default-pressed: theme(colors.blue.800);
    --plusui-color-background-default-focus: theme(colors.blue.600);
    --plusui-color-background-default-invert-default: theme(colors.blue.100);
    --plusui-color-background-default-invert-hover: theme(colors.blue.200);
    --plusui-color-background-default-invert-pressed: theme(colors.blue.300);
    --plusui-color-background-default-invert-focus: theme(colors.blue.100);
  
    --plusui-color-text-default: theme(colors.white);
    --plusui-color-text-default-hover: theme(colors.blue.200);
    --plusui-color-text-default-pressed: theme(colors.blue.300);
  }
  
  [data-theme='indigo'] {
    --plusui-color-background-default-default: theme(colors.indigo.600);
    --plusui-color-background-default-hover: theme(colors.indigo.700);
    --plusui-color-background-default-pressed: theme(colors.indigo.800);
    --plusui-color-background-default-focus: theme(colors.indigo.600);
    --plusui-color-background-default-invert-default: theme(colors.indigo.100);
    --plusui-color-background-default-invert-hover: theme(colors.indigo.200);
    --plusui-color-background-default-invert-pressed: theme(colors.indigo.300);
    --plusui-color-background-default-invert-focus: theme(colors.indigo.100);
  
    --plusui-color-text-default: theme(colors.white);
    --plusui-color-text-default-hover: theme(colors.indigo.200);
    --plusui-color-text-default-pressed: theme(colors.indigo.300);
  }
  
  [data-theme='violet'] {
    --plusui-color-background-default-default: theme(colors.violet.600);
    --plusui-color-background-default-hover: theme(colors.violet.700);
    --plusui-color-background-default-pressed: theme(colors.violet.800);
    --plusui-color-background-default-focus: theme(colors.violet.600);
    --plusui-color-background-default-invert-default: theme(colors.violet.100);
    --plusui-color-background-default-invert-hover: theme(colors.violet.200);
    --plusui-color-background-default-invert-pressed: theme(colors.violet.300);
    --plusui-color-background-default-invert-focus: theme(colors.violet.100);
  
    --plusui-color-text-default: theme(colors.white);
    --plusui-color-text-default-hover: theme(colors.violet.200);
    --plusui-color-text-default-pressed: theme(colors.violet.300);
  }
  
  [data-theme='purple'] {
    --plusui-color-background-default-default: theme(colors.purple.600);
    --plusui-color-background-default-hover: theme(colors.purple.700);
    --plusui-color-background-default-pressed: theme(colors.purple.800);
    --plusui-color-background-default-focus: theme(colors.purple.600);
    --plusui-color-background-default-invert-default: theme(colors.purple.100);
    --plusui-color-background-default-invert-hover: theme(colors.purple.200);
    --plusui-color-background-default-invert-pressed: theme(colors.purple.300);
    --plusui-color-background-default-invert-focus: theme(colors.purple.100);
  
    --plusui-color-text-default: theme(colors.white);
    --plusui-color-text-default-hover: theme(colors.purple.200);
    --plusui-color-text-default-pressed: theme(colors.purple.300);
  }
  
  [data-theme='fuchsia'] {
    --plusui-color-background-default-default: theme(colors.fuchsia.600);
    --plusui-color-background-default-hover: theme(colors.fuchsia.700);
    --plusui-color-background-default-pressed: theme(colors.fuchsia.800);
    --plusui-color-background-default-focus: theme(colors.fuchsia.600);
    --plusui-color-background-default-invert-default: theme(colors.fuchsia.100);
    --plusui-color-background-default-invert-hover: theme(colors.fuchsia.200);
    --plusui-color-background-default-invert-pressed: theme(colors.fuchsia.300);
    --plusui-color-background-default-invert-focus: theme(colors.fuchsia.100);
  
    --plusui-color-text-default: theme(colors.white);
    --plusui-color-text-default-hover: theme(colors.fuchsia.200);
    --plusui-color-text-default-pressed: theme(colors.fuchsia.300);
  }
  
  [data-theme='pink'] {
    --plusui-color-background-default-default: theme(colors.pink.600);
    --plusui-color-background-default-hover: theme(colors.pink.700);
    --plusui-color-background-default-pressed: theme(colors.pink.800);
    --plusui-color-background-default-focus: theme(colors.pink.600);
    --plusui-color-background-default-invert-default: theme(colors.pink.100);
    --plusui-color-background-default-invert-hover: theme(colors.pink.200);
    --plusui-color-background-default-invert-pressed: theme(colors.pink.300);
    --plusui-color-background-default-invert-focus: theme(colors.pink.100);
  
    --plusui-color-text-default: theme(colors.white);
    --plusui-color-text-default-hover: theme(colors.pink.200);
    --plusui-color-text-default-pressed: theme(colors.pink.300);
  }
  
  [data-theme='rose'] {
    --plusui-color-background-default-default: theme(colors.rose.600);
    --plusui-color-background-default-hover: theme(colors.rose.700);
    --plusui-color-background-default-pressed: theme(colors.rose.800);
    --plusui-color-background-default-focus: theme(colors.rose.600);
    --plusui-color-background-default-invert-default: theme(colors.rose.100);
    --plusui-color-background-default-invert-hover: theme(colors.rose.200);
    --plusui-color-background-default-invert-pressed: theme(colors.rose.300);
    --plusui-color-background-default-invert-focus: theme(colors.rose.100);
  
    --plusui-color-text-default: theme(colors.white);
    --plusui-color-text-default-hover: theme(colors.rose.200);
    --plusui-color-text-default-pressed: theme(colors.rose.300);
  }
  