:root {
    /* spacing */
    --plusui-spacing-px: 1px;
    --plusui-spacing-0: 0px;
    --plusui-spacing-0-5: 0.125rem; /* 2px */
    --plusui-spacing-1: 0.25rem; /* 4px */
    --plusui-spacing-1-5: 0.375rem; /* 6px */
    --plusui-spacing-2: 0.5rem; /* 8px */
    --plusui-spacing-2-5: 0.625rem; /* 10px */
    --plusui-spacing-3: 0.75rem; /* 12px */
    --plusui-spacing-3-5: 0.875rem; /* 14px */
    --plusui-spacing-4: 1rem; /* 16px */
    --plusui-spacing-5: 1.25rem; /* 20px */
    --plusui-spacing-6: 1.5rem; /* 24px */
    --plusui-spacing-7: 1.75rem; /* 28px */
    --plusui-spacing-8: 2rem; /* 32px */
    --plusui-spacing-9: 2.25rem; /* 36px */
    --plusui-spacing-10: 2.5rem; /* 40px */
    --plusui-spacing-11: 2.75rem; /* 44px */
    --plusui-spacing-12: 3rem; /* 48px */
    --plusui-spacing-14: 3.5rem; /* 56px */
    --plusui-spacing-16: 4rem; /* 64px */
    --plusui-spacing-20: 5rem; /* 80px */
    --plusui-spacing-24: 6rem; /* 96px */
    --plusui-spacing-28: 7rem; /* 112px */
    --plusui-spacing-32: 8rem; /* 128px */
    --plusui-spacing-36: 9rem; /* 144px */
    --plusui-spacing-40: 10rem; /* 160px */
    --plusui-spacing-44: 11rem; /* 176px */
    --plusui-spacing-48: 12rem; /* 192px */
    --plusui-spacing-52: 13rem; /* 208px */
    --plusui-spacing-56: 14rem; /* 224px */
    --plusui-spacing-60: 15rem; /* 240px */
    --plusui-spacing-64: 16rem; /* 256px */
    --plusui-spacing-72: 18rem; /* 288px */
    --plusui-spacing-80: 20rem; /* 320px */
    --plusui-spacing-96: 24rem; /* 384px */

    /* fontSize */

    /* xs: ['0.75rem', { lineHeight: '1rem' }],
      sm: ['0.875rem', { lineHeight: '1.25rem' }],
      base: ['1rem', { lineHeight: '1.5rem' }],
      lg: ['1.125rem', { lineHeight: '1.75rem' }],
      xl: ['1.25rem', { lineHeight: '1.75rem' }],
      '2xl': ['1.5rem', { lineHeight: '2rem' }],
      '3xl': ['1.875rem', { lineHeight: '2.25rem' }],
      '4xl': ['2.25rem', { lineHeight: '2.5rem' }],
      '5xl': ['3rem', { lineHeight: '1' }],
      '6xl': ['3.75rem', { lineHeight: '1' }],
      '7xl': ['4.5rem', { lineHeight: '1' }],
      '8xl': ['6rem', { lineHeight: '1' }],
      '9xl': ['8rem', { lineHeight: '1' }], */
    --plusui-font-size-xs: 0.75rem;
    --plusui-font-size-xs-line-height: 1rem;
    --plusui-font-size-sm: 0.875rem;
    --plusui-font-size-sm-line-height: 1.25rem;
    --plusui-font-size-base: 1rem;
    --plusui-font-size-base-line-height: 1.5rem;
    --plusui-font-size-lg: 1.125rem;
    --plusui-font-size-lg-line-height: 1.75rem;
    --plusui-font-size-xl: 1.25rem;
    --plusui-font-size-xl-line-height: 1.75rem;
    --plusui-font-size-2xl: 1.5rem;
    --plusui-font-size-2xl-line-height: 2rem;
    --plusui-font-size-3xl: 1.875rem;
    --plusui-font-size-3xl-line-height: 2.25rem;
    --plusui-font-size-4xl: 2.25rem;
    --plusui-font-size-4xl-line-height: 2.5rem;
    --plusui-font-size-5xl: 3rem;
    --plusui-font-size-5xl-line-height: 1;
    --plusui-font-size-6xl: 3.75rem;
    --plusui-font-size-6xl-line-height: 1;
    --plusui-font-size-7xl: 4.5rem;
    --plusui-font-size-7xl-line-height: 1;
    --plusui-font-size-8xl: 6rem;
    --plusui-font-size-8xl-line-height: 1;
    --plusui-font-size-9xl: 8rem;
    --plusui-font-size-9xl-line-height: 1;
    
    --plusui-border-radius-none: 0px;
    --plusui-border-radius-sm: 0.125rem;
    --plusui-border-radius-default: 0.25rem;
    --plusui-border-radius-md: 0.375rem;
    --plusui-border-radius-lg: 0.5rem;
    --plusui-border-radius-xl: 0.75rem;
    --plusui-border-radius-2xl: 1rem;
    --plusui-border-radius-3xl: 1.5rem;
    --plusui-border-radius-full: 9999px;

    --plusui-opacity-0: 0;
    --plusui-opacity-5: 0.05;
    --plusui-opacity-10: 0.1;
    --plusui-opacity-15: 0.15;
    --plusui-opacity-20: 0.2;
    --plusui-opacity-25: 0.25;
    --plusui-opacity-30: 0.3;
    --plusui-opacity-35: 0.35;
    --plusui-opacity-40: 0.4;
    --plusui-opacity-45: 0.45;
    --plusui-opacity-50: 0.5;
    --plusui-opacity-55: 0.55;
    --plusui-opacity-60: 0.6;
    --plusui-opacity-65: 0.65;
    --plusui-opacity-70: 0.7;
    --plusui-opacity-75: 0.75;
    --plusui-opacity-80: 0.8;
    --plusui-opacity-85: 0.85;
    --plusui-opacity-90: 0.9;
    --plusui-opacity-95: 0.95;
    --plusui-opacity-100: 1;
}
