:host {
  display: block;
  width: 100%;
}
:host(:first-of-type):host([isGrouped]) .header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
:host(:last-of-type):host([isGrouped]) .header {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
:host(:last-of-type):host([isGrouped]):host([expand]) .header {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}